<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
       
        <title>Application Netflix</title>

         <!-- download core CSS -->
        <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">

        <link href="../../assets/css/nav.css" rel="stylesheet">
        <link href="../../assets/css/footer.css" rel="stylesheet">
    </head>

    <body>
        <!-- header -->
        <header>
            <nav>
                <ul>
                    <li>
                        <figure>
                            <a href="../home/home.html"><img src="../../assets/img/logo_netflix.png"></a>
                        </figure>
                    </li>
                    <div class="navigation-left">
                        <a href="../home/home.html"><li>Accueil</li></a>
                        <a href="series.html"><li>Séries</li></a>
                        <a href="home.html"><li>Films</li></a>
                        <a href="home.html"><li id="newslotwatch">Nouveautés les plus regardées</li></a>
                        <a href="home.html"><li id="myList">Ma liste</li></a>
                    </div>
                </ul>
                
                <div class="navigation-right">
                    <ul>
                        <li>
                            <span class="icon-search"></span>
                        </li>
                        <li>DIRECT</li>
                        <li>JEUNESSE</li>
                        <li><i class="fas fa-gift"></i></li>
                        <li><i class="far fa-bell"></i></li>
                        <li><i class="fas fa-caret-down"></i></li>
                    </ul>
                </div>
            </nav>
    </header>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet autem impedit pariatur distinctio alias adipisci quas doloribus eligendi quam, temporibus cumque? Nulla veritatis illo, magnam officiis vitae ab culpa deserunt.
Quam hic facere similique minima corporis, odio, nihil laudantium dicta consectetur eum amet reprehenderit ullam voluptatem ex laboriosam, animi optio? Ipsum odio autem quis ducimus. Odio aut at impedit deleniti.
Ut at, neque enim, iusto ea ipsam doloribus consequuntur accusantium quo maiores velit debitis autem deleniti sit assumenda omnis. Consequatur fugiat maxime, atque ratione vitae sapiente beatae ex nesciunt ullam.
Dolorem illum nesciunt repellat autem, quas eius in odio voluptatem eligendi earum quae vero cum harum temporibus ab. Earum quia quae vero ratione impedit incidunt error rerum, numquam voluptates obcaecati!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt provident fuga animi veniam, earum iusto quis voluptatum magnam quas reprehenderit deserunt est expedita obcaecati a, assumenda eligendi temporibus exercitationem! Perferendis.
Laborum error impedit voluptas cum blanditiis ea labore quibusdam odit veniam, tenetur illum assumenda dolore officia perspiciatis aspernatur a. Quisquam qui assumenda repellendus, tenetur alias nemo eligendi sit ea dolore.
Expedita iusto voluptate reiciendis nulla recusandae, id ex qui vitae neque dicta natus quisquam aspernatur quod veritatis odit ratione assumenda! Magnam quo repellat deleniti totam. Libero culpa aperiam dolores impedit.
Enim, nisi similique quas aut aperiam vero, tenetur illum doloribus consequuntur ad at veniam, alias ex nam. Obcaecati, optio? Voluptatibus iste perspiciatis autem eos a est provident inventore fuga consequatur.
Ducimus illum enim veritatis cum quisquam dicta? Rerum neque, odio assumenda eos blanditiis autem, laborum et voluptatibus pariatur hic quia itaque unde corporis soluta quos dicta consequuntur aspernatur vitae asperiores.
Possimus adipisci nihil sapiente, architecto consectetur, dignissimos accusantium aperiam explicabo at beatae, porro quaerat. At, commodi minus mollitia repellat nemo est facere dolorem rerum eius cupiditate? Fuga harum nam doloribus.
Iusto earum culpa dicta, vel excepturi tempore a non voluptatem aspernatur, exercitationem nihil repellat eveniet perspiciatis voluptate harum. Beatae minima maiores natus voluptatum fugit ullam possimus reprehenderit cumque sit eaque.
Doloribus nostrum sed voluptatem quam, iusto aperiam, accusamus optio quo sunt magnam quia in, a dolorum. At, ipsa quibusdam totam omnis consequuntur recusandae, delectus quos non rerum veniam, aspernatur praesentium.
Tenetur odio consequatur quos enim, magni aspernatur voluptas veritatis illum tempore nesciunt et. Quasi, aperiam eveniet officiis sint atque officia maxime, maiores cum ipsam, blanditiis dicta temporibus in iste eligendi.
Excepturi magnam voluptatum fugiat beatae dolore cupiditate soluta, vero voluptatem, fuga alias corporis. Iste ab, aut, suscipit excepturi, quibusdam labore obcaecati neque ut earum tenetur voluptate accusantium animi saepe cumque.
Laudantium maiores sunt ut repudiandae delectus itaque. Quas molestias amet accusantium quasi facere aliquid quibusdam sunt quod perspiciatis. Expedita sunt, laudantium aliquam a tempora commodi veniam unde provident quidem quam?
Quis fuga officiis laudantium nam! Voluptatum, ut, laudantium ex accusantium nostrum accusamus commodi libero magni saepe dolorum deleniti autem nulla voluptas? Molestiae culpa necessitatibus corporis voluptate? Quaerat, excepturi. Quia, quisquam.
Aliquid maxime sequi et fugiat accusamus nisi cupiditate quis porro recusandae delectus quas labore veniam, enim harum, repellat eos quidem consequuntur excepturi esse corporis nesciunt assumenda similique! Totam, ratione sapiente?
Alias, aliquid tempora. Eos cupiditate sed laborum omnis sunt quam eius nostrum veritatis illum nihil ut commodi voluptatem quia magnam a, deserunt laboriosam excepturi. Eos molestiae itaque quaerat commodi distinctio.

        <footer>
            <div class="member-footer">
                <div class="reseaux">
                    <a class="navbar-brand" href="https://www.facebook.com/netflixfrance">
                        <img src="../../assets/img/fb.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://www.instagram.com/NetflixFR">
                        <img src="../../assets/img/insta.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://twitter.com/NetflixFR">
                        <img src="../../assets/img/twitter.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://www.youtube.com/user/netflixfrance">
                        <img src="../../assets/img/youtube.png" width="40" height="36" alt="">
                    </a>
                </div >
            
                    <ul>
                        <div class="column-1">
                            <li>Audio et sous-titres</li>
                            <li>Presse</li>
                            <li>Confidentialité</li>
                            <li>Nous contacter</li>
                        </div>
                        <div class="column-2">
                            <li>Audiodescription</li>
                            <li>Relations Investisseurs</li>
                            <li>Informations légales</li>
                        </div>
                        <div class="column-3">
                            <li>Centre d'aide</li>
                            <li>Recrutement</li>
                            <li>Préférences de cookies</li>
                        </div>
                        <div class="column-4">
                            <li>Cartes cadeaux</li>
                            <li>Conditions d'utilisation</li>
                            <li>Mentions légales</li>
                        </div>
                    </ul>
                <button class="service-code">Code de service</button>
                <div class="copyright">© 1997-2020 Netflix, Inc.</div>      
            </div>
        </footer>

        <script src="series.js"></script>
    </body>
</html>