<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">

            <title>Application Netflix</title>

            <!-- download core CSS -->
            <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">

        </head>

<body>
<!-- header -->
<header>
    <h1>Authentification</h1>
</header>

<body>
    <form method="post" class="loginForm">
        <!--{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %} -->

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>


        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</body>
<footer>
    <div class="member-footer">
        <div class="reseaux">
            <a class="navbar-brand" href="https://www.facebook.com/netflixfrance">
                <img src="../../assets/img/fb.png" width="36" height="36" alt="">
            </a>
            <a class="navbar-brand" href="https://www.instagram.com/NetflixFR">
                <img src="../../assets/img/insta.png" width="36" height="36" alt="">
            </a>
            <a class="navbar-brand" href="https://twitter.com/NetflixFR">
                <img src="../../assets/img/twitter.png" width="36" height="36" alt="">
            </a>
            <a class="navbar-brand" href="https://www.youtube.com/user/netflixfrance">
                <img src="../../assets/img/youtube.png" width="40" height="36" alt="">
            </a>
        </div >

            <ul>
                <div class="column-1">
                    <li>Audio et sous-titres</li>
                    <li>Presse</li>
                    <li>Confidentialité</li>
                    <li>Nous contacter</li>
                </div>
                <div class="column-2">
                    <li>Audiodescription</li>
                    <li>Relations Investisseurs</li>
                    <li>Informations légales</li>
                </div>
                <div class="column-3">
                    <li>Centre d'aide</li>
                    <li>Recrutement</li>
                    <li>Préférences de cookies</li>
                </div>
                <div class="column-4">
                    <li>Cartes cadeaux</li>
                    <li>Conditions d'utilisation</li>
                    <li>Mentions légales</li>
                </div>
            </ul>
        <button class="service-code" id="serviceCode">Code de service</button>
        <div class="copyright">© 1997-2020 Netflix, Inc.</div>
    </div>
</footer>

<script>
    window.jquery = window.$ = require('jquery');
    require('bootstrap');
</script>

<script src="login.js"></script>
