<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
       
        <title>Application Netflix</title>

         <!-- download core CSS -->
        <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">

        <!-- <link href="https://code.jquery.com/jquery-3.3.1.slim.min.js" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" rel="stylesheet"> -->

        <link href="../../assets/css/nav.css" rel="stylesheet">
        <link href="../../assets/css/footer.css" rel="stylesheet">
       
       
        <link href="../../assets/css/carousel.css" rel="stylesheet"> 

    </head>

    <body>
        <!-- header -->
        <header>
            <nav>
                <ul>
                    <li>
                        <figure>
                            <a href="home.html"><img src="../../assets/img/logo_netflix.png"></a>
                        </figure>
                    </li>
                    <div class="navigation-left">
                        <a href="home.html"><li>Accueil</li></a>
                        <a href="../series/series.html"><li>Séries</li></a>
                        <a href="home.html"><li>Films</li></a>
                        <a href="home.html"><li id="newslotwatch">Nouveautés les plus regardées</li></a>
                        <a href="home.html"><li id="myList">Ma liste</li></a>
                    </div>
                </ul>
                
                <div class="navigation-right">
                    <ul>
                        <li><i class="fas fa-search"></i></li>
                        <li>DIRECT</li>
                        <li>JEUNESSE</li>
                        <li><i class="fas fa-gift"></i></li>
                        <li><i class="far fa-bell"></i></li>
                        <li><i class="fas fa-caret-down"></i></li>
                    </ul>
                </div>
            </nav>
        </header>




        <div class="container">
            <div class= "title">Genre</div>
            <div id="carousel1">
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel1
                        </div>
                    </div>
                </div>
          
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel2
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel3
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel4
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel5
                        </div>
                    </div>
                </div>
            </div>
            <div id="carousel2">
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel1
                        </div>
                    </div>
                </div>
          
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel2
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel3
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel4
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__image">
                        <img src="../../assets/img/logo_netflix.png" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__tile">
                            Mon titre 1
                        </div>
                        <div class="item__description">
                            Ici une petite description pour tester le carousel5
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
        
      


        <!-- <footer>
            <div class="member-footer">
                <div class="reseaux">
                    <a class="navbar-brand" href="https://www.facebook.com/netflixfrance">
                        <img src="../../assets/img/fb.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://www.instagram.com/NetflixFR">
                        <img src="../../assets/img/insta.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://twitter.com/NetflixFR">
                        <img src="../../assets/img/twitter.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://www.youtube.com/user/netflixfrance">
                        <img src="../../assets/img/youtube.png" width="40" height="36" alt="">
                    </a>
                </div >
            
                    <ul>
                        <div class="column-1">
                            <li>Audio et sous-titres</li>
                            <li>Presse</li>
                            <li>Confidentialité</li>
                            <li>Nous contacter</li>
                        </div>
                        <div class="column-2">
                            <li>Audiodescription</li>
                            <li>Relations Investisseurs</li>
                            <li>Informations légales</li>
                        </div>
                        <div class="column-3">
                            <li>Centre d'aide</li>
                            <li>Recrutement</li>
                            <li>Préférences de cookies</li>
                        </div>
                        <div class="column-4">
                            <li>Cartes cadeaux</li>
                            <li>Conditions d'utilisation</li>
                            <li>Mentions légales</li>
                        </div>
                    </ul>
                <button class="service-code" id="serviceCode">Code de service</button>
                <div class="copyright">© 1997-2020 Netflix, Inc.</div>      
            </div>
        </footer> -->
        
    <script>
        window.jquery = window.$ = require('jquery');
        require('bootstrap');
    </script>
    <script src="../../assets/js/carousel.js" async></script>
    <script src="home.js"></script>
    </body>
</html>