<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
       
        <title>Application Netflix</title>

         <!-- download core CSS -->
        <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">

        <link href="../../assets/css/nav.css" rel="stylesheet">
        <link href="../../assets/css/footer.css" rel="stylesheet">
    </head>

    <body>
        <!-- header -->
        <header>
            <nav>
                <ul>
                    <li>
                        <figure>
                            <a href="home.html"><img src="../../assets/img/logo_netflix.png"></a>
                        </figure>
                    </li>
                    <div class="navigation-left">
                        <a href="home.html"><li>Accueil</li></a>
                        <a href="../series/series.html"><li>Séries</li></a>
                        <a href="home.html"><li>Films</li></a>
                        <a href="home.html"><li id="newslotwatch">Nouveautés les plus regardées</li></a>
                        <a href="home.html"><li id="myList">Ma liste</li></a>
                    </div>
                </ul>
                
                <div class="navigation-right">
                    <ul>
                        <li><i class="fas fa-search"></i></li>
                        <li>DIRECT</li>
                        <li>JEUNESSE</li>
                        <li><i class="fas fa-gift"></i></li>
                        <li><i class="far fa-bell"></i></li>
                        <li><i class="fas fa-caret-down"></i></li>
                    </ul>
                </div>
            </nav>
    </header>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet autem impedit pariatur distinctio alias adipisci quas doloribus eligendi quam, temporibus cumque? Nulla veritatis illo, magnam officiis vitae ab culpa deserunt.
Quam hic facere similique minima corporis, odio, nihil laudantium dicta consectetur eum amet reprehenderit ullam voluptatem ex laboriosam, animi optio? Ipsum odio autem quis ducimus. Odio aut at impedit deleniti.
Ut at, neque enim, iusto ea ipsam doloribus consequuntur accusantium quo maiores velit debitis autem deleniti sit assumenda omnis. Consequatur fugiat maxime, atque ratione vitae sapiente beatae ex nesciunt ullam.
Dolorem illum nesciunt repellat autem, quas eius in odio voluptatem eligendi earum quae vero cum harum temporibus ab. Earum quia quae vero ratione impedit incidunt error rerum, numquam voluptates obcaecati!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt provident fuga animi veniam, earum iusto quis voluptatum magnam quas reprehenderit deserunt est expedita obcaecati a, assumenda eligendi temporibus exercitationem! Perferendis.
Laborum error impedit voluptas cum blanditiis ea labore quibusdam odit veniam, tenetur illum assumenda dolore officia perspiciatis aspernatur a. Quisquam qui assumenda repellendus, tenetur alias nemo eligendi sit ea dolore.
Expedita iusto voluptate reiciendis nulla recusandae, id ex qui vitae neque dicta natus quisquam aspernatur quod veritatis odit ratione assumenda! Magnam quo repellat deleniti totam. Libero culpa aperiam dolores impedit.
Enim, nisi similique quas aut aperiam vero, tenetur illum doloribus consequuntur ad at veniam, alias ex nam. Obcaecati, optio? Voluptatibus iste perspiciatis autem eos a est provident inventore fuga consequatur.
Ducimus illum enim veritatis cum quisquam dicta? Rerum neque, odio assumenda eos blanditiis autem, laborum et voluptatibus pariatur hic quia itaque unde corporis soluta quos dicta consequuntur aspernatur vitae asperiores.
Possimus adipisci nihil sapiente, architecto consectetur, dignissimos accusantium aperiam explicabo at beatae, porro quaerat. At, commodi minus mollitia repellat nemo est facere dolorem rerum eius cupiditate? Fuga harum nam doloribus.
Iusto earum culpa dicta, vel excepturi tempore a non voluptatem aspernatur, exercitationem nihil repellat eveniet perspiciatis voluptate harum. Beatae minima maiores natus voluptatum fugit ullam possimus reprehenderit cumque sit eaque.
Doloribus nostrum sed voluptatem quam, iusto aperiam, accusamus optio quo sunt magnam quia in, a dolorum. At, ipsa quibusdam totam omnis consequuntur recusandae, delectus quos non rerum veniam, aspernatur praesentium.
Tenetur odio consequatur quos enim, magni aspernatur voluptas veritatis illum tempore nesciunt et. Quasi, aperiam eveniet officiis sint atque officia maxime, maiores cum ipsam, blanditiis dicta temporibus in iste eligendi.
Excepturi magnam voluptatum fugiat beatae dolore cupiditate soluta, vero voluptatem, fuga alias corporis. Iste ab, aut, suscipit excepturi, quibusdam labore obcaecati neque ut earum tenetur voluptate accusantium animi saepe cumque.
Laudantium maiores sunt ut repudiandae delectus itaque. Quas molestias amet accusantium quasi facere aliquid quibusdam sunt quod perspiciatis. Expedita sunt, laudantium aliquam a tempora commodi veniam unde provident quidem quam?
Quis fuga officiis laudantium nam! Voluptatum, ut, laudantium ex accusantium nostrum accusamus commodi libero magni saepe dolorum deleniti autem nulla voluptas? Molestiae culpa necessitatibus corporis voluptate? Quaerat, excepturi. Quia, quisquam.
Aliquid maxime sequi et fugiat accusamus nisi cupiditate quis porro recusandae delectus quas labore veniam, enim harum, repellat eos quidem consequuntur excepturi esse corporis nesciunt assumenda similique! Totam, ratione sapiente?
Alias, aliquid tempora. Eos cupiditate sed laborum omnis sunt quam eius nostrum veritatis illum nihil ut commodi voluptatem quia magnam a, deserunt laboriosam excepturi. Eos molestiae itaque quaerat commodi distinctio.
Accusamus rerum, tempore libero laudantium optio, officiis, magnam laborum voluptatibus odit commodi consequatur ea. Nesciunt delectus laudantium sunt assumenda cumque quae quibusdam amet facere id repudiandae, asperiores aut, eius earum.
Qui provident enim facilis nam voluptatibus, nulla dolore error libero eaque dignissimos explicabo quo sed. Eius saepe possimus nesciunt aliquam vel, similique eos, rerum quisquam, fugiat error maxime quidem hic.
Laborum perspiciatis placeat nemo similique, excepturi possimus vero voluptate recusandae necessitatibus aspernatur a sapiente modi sint consequuntur nisi temporibus adipisci quod iste maxime. Porro asperiores consequuntur sequi sed et magnam.
Laboriosam molestiae voluptate officia asperiores soluta nisi vitae ratione, earum facilis enim, pariatur, voluptatum laudantium nobis voluptates repellendus! Dolor nisi minima quas quaerat culpa aliquid excepturi illo tempora voluptatem tenetur.
Nam eos velit hic iusto totam reiciendis molestias ad quidem, accusamus et deserunt porro fuga unde. Nobis blanditiis error ipsam consequuntur voluptates provident. Nesciunt ex impedit praesentium dolore magnam unde.
Non rerum minima deserunt, nobis tenetur, veniam quos aspernatur dolore repellendus fuga atque amet! Provident perspiciatis illo pariatur. Rerum dolore nam officia reprehenderit sint consectetur neque inventore a asperiores excepturi?
Reiciendis recusandae aperiam minima quas illum velit eligendi fuga, ratione, facere corrupti rem voluptas ducimus, eos reprehenderit deleniti dolore officia et enim tenetur cupiditate in cumque voluptate sapiente quam! Harum!
Rerum libero voluptatibus aliquid amet obcaecati necessitatibus aut corporis at, accusamus velit atque explicabo alias omnis. Ea nihil cupiditate voluptatem perspiciatis hic ducimus, commodi provident impedit eum consectetur repudiandae? Beatae.
Nisi eaque debitis veniam ipsam libero ea rem facilis modi consequuntur rerum. Molestias voluptatibus minus voluptas quisquam explicabo. Doloremque a inventore voluptates in amet, eius excepturi reiciendis asperiores corrupti minima.
Iure sint voluptates inventore dolorem. Qui illo facilis suscipit saepe tempore accusantium, dolorem consequuntur labore dicta unde deleniti necessitatibus porro quam sed repellendus quibusdam. Maxime porro dolorum pariatur incidunt dolores.
Nihil, illo. Voluptas quos amet quas minus itaque maxime alias ut pariatur cupiditate excepturi! Placeat eius pariatur nisi dolor provident nulla rerum, eos aliquam cumque tempore aspernatur alias atque libero?
Harum molestiae maiores quod animi labore voluptas natus earum aliquid doloribus, obcaecati quam eligendi dolore reprehenderit reiciendis id rem ad dicta culpa nesciunt eveniet pariatur ducimus. Repellendus eos sit consectetur.
Obcaecati totam modi dolor, fugit fugiat mollitia culpa aperiam minus omnis voluptas ullam est ratione illo ipsa eaque facere inventore accusantium assumenda harum enim expedita nostrum ad! Atque, eum doloribus!
Aut praesentium alias velit repudiandae ullam maxime ipsum numquam accusamus dignissimos iusto earum consequatur quasi animi fugit unde a tenetur temporibus, molestiae ab sunt placeat aspernatur impedit. Tempora, perspiciatis odit.
Ratione, perferendis nam magnam, laudantium adipisci voluptatibus consequatur asperiores facilis sint mollitia tenetur incidunt id recusandae. Corrupti dignissimos perferendis ipsam officiis expedita. Placeat, inventore delectus? Laudantium nemo quisquam atque sequi!
Esse et soluta iure nostrum amet earum deserunt tempore aspernatur accusamus porro nisi laboriosam est, rem tempora atque voluptates labore accusantium quas voluptate repellendus inventore dolore nulla. Perspiciatis, voluptatibus mollitia.
Dicta veniam dolorum nostrum. Quasi dignissimos maxime unde quo commodi consequatur reprehenderit error soluta vero. Placeat non illum magni ut reprehenderit fugit, nesciunt rerum dolorem, dolores accusantium pariatur debitis eaque.
Cupiditate voluptate repellendus ducimus quasi facilis odit non obcaecati nisi at dolorum asperiores temporibus incidunt aliquam explicabo voluptatum ad consectetur officia amet consequatur maiores, aut natus similique. Facilis, nam voluptates.
Porro amet voluptatem corrupti eius tenetur laudantium ipsa debitis? Iusto deleniti odit id quisquam ipsam repudiandae nesciunt architecto nemo. Amet, sunt atque. Velit facere qui magni eveniet atque consectetur soluta.
Velit cumque similique aperiam consequuntur, excepturi numquam dolores quaerat obcaecati facilis quo ad culpa odit eligendi itaque, asperiores error. Exercitationem delectus dolor quo atque quas libero iusto quia aliquid iste.
Voluptatibus, optio iure doloribus asperiores a magnam sed! Nostrum, saepe sunt magnam obcaecati quisquam eveniet temporibus, cum ullam consectetur ex vitae cumque iusto, ab fugiat! Asperiores vero dicta assumenda iure?
Recusandae beatae sit quae, reprehenderit alias mollitia, qui ducimus officiis placeat sequi, corporis quas ipsa minima nesciunt. Aperiam, laborum! Sed atque eius error perspiciatis itaque vero at sunt ex eum?
Facilis atque, at, ratione quibusdam velit distinctio laboriosam inventore repellendus, blanditiis harum numquam eum ipsum. Voluptatibus eaque voluptate quis itaque minima, voluptates provident in eius maxime nemo ipsum illo iusto.
Aliquam atque, quia aperiam delectus repudiandae, inventore soluta aspernatur iste nam perferendis ipsum commodi dicta tempora autem, consequuntur itaque! Sint laboriosam pariatur ab reprehenderit tempore explicabo excepturi nesciunt ipsa quasi!
Perspiciatis cum accusamus cupiditate tempora est neque dolor eos amet quia? Aliquid deleniti optio laudantium officiis temporibus, placeat magni dignissimos. Cumque voluptatibus earum quod reiciendis, rerum suscipit omnis excepturi. Mollitia.
Nemo vitae fuga doloremque, distinctio nisi, voluptatibus quidem error placeat sequi est ut accusantium qui corrupti dicta aperiam sit, provident aspernatur nobis facere voluptas non excepturi quisquam quas repudiandae. Nemo?
Voluptatum saepe, quod non reprehenderit nihil animi soluta maiores omnis necessitatibus ipsam sed ipsum deserunt, perferendis consequuntur laboriosam tempore porro veniam in esse, unde laborum! Vel quam ullam ipsa a!
Magni eius dolorem deserunt nihil sed quis autem excepturi ipsum alias, dolor repellat unde doloremque et! Eveniet, nulla reiciendis odit quae eaque ut repellat, fugiat, dolor nam voluptate deleniti. Culpa.
Eaque, deleniti harum aliquam error unde suscipit itaque vitae accusamus recusandae molestias? Laboriosam iste sed autem exercitationem sint cumque aperiam laudantium. Consectetur rem fugit, veniam ut expedita necessitatibus ratione! Unde.
Omnis doloribus ex accusamus fugit facilis cupiditate aliquid possimus illo vel non at soluta voluptas eum, quasi perferendis consequuntur quia! Voluptatibus iusto repellendus eligendi magnam sunt maiores aliquam maxime a.
Corrupti dicta quod iure placeat distinctio aut, necessitatibus ipsam! Obcaecati enim labore necessitatibus aspernatur eius fugit dolorem error aperiam porro ex, vel a rem assumenda excepturi. Numquam unde officia sed?
Laboriosam ullam sunt velit asperiores eligendi, architecto nemo quis fugit sint a officia assumenda laborum quo ad eveniet laudantium fuga ut ipsa in ea? Nulla ex voluptatum repudiandae eligendi error?
Dolores numquam officia id dolorem magni sapiente veritatis, optio vero, recusandae repudiandae impedit omnis non, doloremque aut voluptas deleniti! Perferendis itaque possimus explicabo ut laudantium inventore, soluta quibusdam aperiam esse!
A quam autem quis incidunt adipisci, libero voluptate quos distinctio repudiandae cumque necessitatibus ipsum similique tenetur doloribus, vitae consequatur dolorum. Adipisci, inventore officiis. Eveniet tenetur laborum recusandae. Sapiente, totam quibusdam.
Nam blanditiis exercitationem perferendis ratione commodi est saepe aliquam, hic rerum mollitia perspiciatis ipsa id magnam? Recusandae modi nemo, est ad aut nulla rerum, laboriosam ipsam tempora tempore perspiciatis soluta.
Suscipit fugit illum dolorem nam recusandae aliquid enim! Cumque officia ipsam voluptates. Ut in necessitatibus provident minima nisi assumenda perferendis tempore, deserunt quam ratione iusto qui. Optio officia labore magnam.
Natus laudantium vel id deleniti facilis dolorem vitae est nesciunt harum at laboriosam consequatur molestiae eveniet corporis, voluptate eum ad exercitationem amet sequi possimus, ducimus numquam magnam! Cupiditate, qui consequuntur!
Dicta, odio harum, ullam voluptate aut autem cupiditate corporis nam, at minus ut! Nobis earum veniam totam ullam cumque rem? Reprehenderit repellendus quaerat quidem dolorem temporibus non. Quidem, tempora ea.
Est, doloremque esse quo repudiandae, deserunt corporis praesentium quas qui expedita consequatur, ipsum totam. Suscipit maiores facere dolor aperiam sapiente consectetur amet recusandae minus non sunt? Quam nobis cumque blanditiis!
Porro atque sequi aspernatur ullam architecto! Cum voluptate minima aliquam nesciunt odio ipsa distinctio excepturi nisi quod dolore! Obcaecati, repellendus quae optio cupiditate voluptate natus libero aliquam minus labore ipsum?
Fuga sit laudantium omnis maiores iste nobis voluptate laboriosam vero libero minima officiis facere rerum cupiditate amet aut odio distinctio tenetur cum officia dolorum, reiciendis quaerat? Adipisci ea eius necessitatibus?
Deserunt id obcaecati repellat ipsum possimus quibusdam earum reiciendis quam similique! Amet veritatis minima sint distinctio, eligendi explicabo corporis. Non commodi harum delectus incidunt aliquid voluptatem! Rem quaerat soluta assumenda?
Deleniti, veritatis? Assumenda eaque, consequatur enim in sunt veniam beatae doloremque. Unde, accusamus. Labore eius aliquid quae, voluptatum hic praesentium delectus, beatae quas qui ex cumque aliquam id ipsa dolorem.
Iure quia et aspernatur unde est asperiores explicabo corrupti voluptatem sint. Iusto quia odit id temporibus fugit quidem ea ducimus distinctio, totam at accusamus autem suscipit aliquid quod dolore ex?
Alias explicabo blanditiis nulla error tempore itaque quidem, asperiores molestias nihil qui voluptatem, sunt sit ducimus placeat consequatur repellat magnam? Velit pariatur commodi facilis quis ipsam consequatur impedit quos deleniti.
Rerum mollitia est illo natus quo quibusdam ducimus! Alias iste excepturi officia iusto expedita, praesentium ex tempora officiis laborum aliquam? Facilis voluptatum consectetur aliquam nesciunt perspiciatis non assumenda repellat voluptates.
Iure veritatis velit sapiente autem? Ab vitae delectus iusto optio, animi repellendus commodi voluptatibus aliquid similique assumenda natus odio debitis eos rem temporibus sit eligendi explicabo? Nam nulla rem corporis!
Atque facere, eum ducimus cupiditate voluptatum ut enim, non doloribus voluptatibus odio amet id! Alias, modi nisi! A repellendus aspernatur libero facilis quia, obcaecati, iure eos minima ea optio rem!
Eum, explicabo ad! Voluptas vitae ut repellendus molestiae iure, magni voluptatum deleniti quasi ea accusantium eligendi non dolorum. Autem dignissimos consequuntur tempora nobis beatae impedit accusantium optio in iure et.
Reiciendis ipsum labore perferendis ab facere aliquam id, unde dolore fugit porro aliquid. Accusamus inventore, soluta pariatur ipsa sapiente quasi architecto aspernatur quos cum, ad natus animi neque numquam nobis.
Deleniti quasi ea vero cupiditate corporis ut maiores autem hic, asperiores laboriosam eaque soluta non dolore incidunt, temporibus reiciendis? Cum nemo, recusandae culpa beatae molestiae quos eveniet eum illo sit.
Maxime ipsum minus voluptatem maiores minima facere quasi porro temporibus magnam, dignissimos aliquam distinctio, saepe architecto eaque molestias autem praesentium est accusamus in eveniet nobis, quis blanditiis perspiciatis officiis. Fugiat?
Sequi, eveniet! Tenetur quam enim possimus tempora adipisci mollitia. Consequuntur voluptatem nisi soluta, qui quaerat reiciendis facilis dolores consequatur ipsa labore dicta velit, veritatis, culpa cumque nostrum voluptatum? Maiores, a.
At soluta cum quod officia saepe delectus sit ducimus distinctio blanditiis nemo, est voluptatibus sint iusto quo suscipit eos repellendus facere recusandae obcaecati placeat nulla id ad corporis! Labore, dolor.
Excepturi ullam, obcaecati at dolore expedita sapiente eligendi facere laudantium suscipit eos dolorem, et modi voluptates maxime consequuntur temporibus facilis consectetur. Sint, animi voluptates possimus nihil temporibus blanditiis facilis ab?
Veritatis iste blanditiis amet optio, laboriosam libero architecto tempore consectetur, saepe voluptatum iusto natus ducimus dolorum, corporis doloribus aliquid facere! Pariatur voluptatum alias labore porro provident at, illum repudiandae vel?
Ut sed reprehenderit, similique tempora totam iusto veritatis! Odit fugiat repudiandae ad, veritatis, provident facere consequuntur enim praesentium cum a illum quae soluta! Minima blanditiis, minus commodi quasi repellendus nulla?
Fugit architecto eligendi laudantium ratione ut maxime aspernatur itaque necessitatibus placeat vitae quisquam omnis eum atque aperiam mollitia reiciendis harum, cum sit voluptate corrupti consequatur. Sequi optio eos adipisci nobis.
Laboriosam repudiandae adipisci quaerat iste exercitationem iusto placeat tenetur nisi velit, iure ullam quae! Obcaecati, reiciendis voluptate modi commodi assumenda atque non maiores facilis doloremque omnis culpa sit sequi earum?
Illo, at sed architecto accusamus ducimus voluptates veniam enim possimus repellat aperiam! Soluta dolores ducimus quo, aut sint optio doloribus commodi itaque, nulla deserunt illum neque unde facilis porro tempore!
Quasi minus iste exercitationem, sed molestias corporis perspiciatis earum quibusdam tenetur, at sunt doloribus nesciunt! Vitae eum vel labore laborum? Sunt earum explicabo id optio repudiandae saepe sed asperiores iure.
Numquam sequi dolores sapiente quisquam eum distinctio voluptatibus nam illo animi fugiat necessitatibus id totam nostrum architecto ut deleniti, libero nisi excepturi eius esse! Dolores id magni alias eius fugiat!
Odit illum quis commodi facere obcaecati veniam quidem. Numquam ipsa dolor perferendis ipsam magnam. Illo tempore, inventore dolorem labore voluptatem optio dicta non voluptate libero impedit! Nobis fuga minima exercitationem?
Ducimus, veniam voluptas, deserunt eius, iure fugiat id qui facilis tempore quidem velit molestiae fugit? Commodi, non ex laboriosam delectus fugiat totam vitae tempore eligendi provident eos repudiandae dolorem porro!
Rem ab facilis voluptatum eius adipisci quidem fugiat! Sequi, laborum quis? Accusantium aperiam pariatur eaque dicta! Eaque atque placeat doloribus eligendi rem quisquam, aliquid, deleniti accusantium amet enim voluptatum commodi?
Unde vitae pariatur maiores odit consequatur aspernatur quos iusto molestiae, nisi consequuntur repellendus totam nulla atque. Quam ab possimus incidunt commodi neque? Inventore nesciunt odit vel quasi mollitia, amet eaque?
Non praesentium distinctio minima consectetur? Voluptate reprehenderit voluptates, in consequatur error perspiciatis iusto, delectus pariatur laborum repudiandae officiis hic voluptatem. Ex consectetur vero asperiores atque cum unde, aspernatur corporis officia!
Quas modi dolores ipsam tenetur asperiores dignissimos id corporis? Hic earum, alias quos harum dolore modi voluptatem totam vero deleniti eius quaerat cum cupiditate sapiente omnis illum obcaecati fuga perferendis!
Ad magni quo deleniti rerum, numquam perferendis obcaecati quod. Eius provident doloremque cupiditate illum voluptas eligendi ex fugiat adipisci, temporibus repellat distinctio rem magnam quam, quasi velit porro reprehenderit molestias.
Exercitationem laudantium, non assumenda quidem quo qui fuga iusto, ipsum libero minima facilis unde quis eius! Minima consequatur porro culpa perferendis, placeat ab nobis optio amet distinctio velit assumenda ea.
Accusamus maiores laudantium expedita voluptate debitis deserunt beatae odio dolores, voluptatem rerum voluptatibus, deleniti hic minima. Quaerat nesciunt commodi, libero vitae laboriosam molestias id rerum ipsa quibusdam obcaecati pariatur sint!
Harum ullam obcaecati, fugit sed consectetur vero quam quos natus reiciendis! Libero ipsa debitis sunt harum expedita minus recusandae iusto inventore minima maiores necessitatibus impedit laboriosam, totam porro tempore praesentium?
Quisquam consectetur quibusdam nostrum sint ipsam natus nisi nobis id, veniam, quod voluptatem cupiditate quia quasi animi aperiam nihil, reprehenderit inventore dolorem. Dicta ipsam perspiciatis pariatur hic. Molestiae, quia doloremque!
Eius minus delectus similique dolores natus? Quaerat soluta perspiciatis iusto, illo aliquid nisi obcaecati veritatis nesciunt ducimus corporis error non blanditiis velit placeat corrupti? Cum, esse nisi. Ex, excepturi vero.
Officiis saepe, laborum minima reprehenderit cum sint sequi animi perferendis quis beatae optio omnis! Error voluptatem a ab deserunt dolore asperiores est ipsa quibusdam atque minus magnam, animi consectetur? Assumenda?
Sit blanditiis qui fugiat, earum praesentium harum debitis eum in quod, vero deserunt, itaque rerum cumque quo laboriosam excepturi. Cum repudiandae officiis quaerat dolore quasi, ut error quo sapiente eius!
Voluptatibus, asperiores adipisci impedit temporibus cum perspiciatis, repellendus voluptas sapiente voluptate cupiditate ipsum quae quo similique quos rem quidem odio? Pariatur non dicta amet vitae quas voluptates impedit illo praesentium.
Nesciunt quasi aperiam repellat inventore officia autem quibusdam maxime fuga delectus illum molestiae, maiores, ullam reprehenderit consequatur consequuntur voluptatem natus distinctio ipsam a deserunt repudiandae, tenetur ex alias pariatur! Maiores!
Expedita ratione nihil adipisci modi eaque repellendus repellat aperiam impedit maiores cupiditate? Id ullam accusantium enim, ducimus quasi natus numquam quaerat praesentium! Ipsa, velit cum veritatis obcaecati autem molestias sint.
Natus commodi reprehenderit maxime ipsam, laboriosam labore, harum atque sunt unde molestias optio, possimus modi. Eveniet beatae nisi culpa libero eos minus tempora vel mollitia ipsum. Fuga voluptatum aliquid dolorem?
Accusantium aliquam autem tenetur illo magnam consequuntur dolores perferendis accusamus expedita minus modi iste quisquam alias at rem natus, deleniti aperiam ipsam? Dolorem ut adipisci pariatur quidem aspernatur, excepturi dolores?
Labore doloremque optio repellendus, deleniti quod sint cupiditate harum possimus, beatae asperiores placeat alias quaerat a amet ea hic! Vitae cumque, libero molestias quibusdam aspernatur distinctio itaque optio animi nobis.
Quaerat quidem corrupti voluptas obcaecati, distinctio tempora, rem repellat est repellendus alias placeat, neque itaque suscipit odio sequi dicta natus nobis velit. Exercitationem, quae dolore veniam ratione autem fugiat vel.
Aliquid deserunt, possimus sapiente corporis architecto consectetur ducimus facere labore fuga vel adipisci, eos alias aut! At consequuntur aspernatur debitis, sunt eos vitae aperiam obcaecati velit, accusamus minus, rerum ducimus.
Vitae suscipit aut id quia expedita? Laboriosam architecto, reiciendis qui excepturi impedit placeat. Quis nam molestiae eius, consequuntur architecto a ipsam fugiat amet eaque facere numquam accusamus placeat qui maiores.
Nemo, non nisi! Quo repellendus maiores ullam pariatur culpa error, debitis sapiente laborum ipsum excepturi. Sed, ducimus in nam cupiditate, delectus totam deserunt eius ipsa exercitationem atque libero quas aspernatur.

        <footer>
            <div class="member-footer">
                <div class="reseaux">
                    <a class="navbar-brand" href="https://www.facebook.com/netflixfrance">
                        <img src="../../assets/img/fb.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://www.instagram.com/NetflixFR">
                        <img src="../../assets/img/insta.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://twitter.com/NetflixFR">
                        <img src="../../assets/img/twitter.png" width="36" height="36" alt="">
                    </a>
                    <a class="navbar-brand" href="https://www.youtube.com/user/netflixfrance">
                        <img src="../../assets/img/youtube.png" width="40" height="36" alt="">
                    </a>
                </div >
            
                    <ul>
                        <div class="column-1">
                            <li>Audio et sous-titres</li>
                            <li>Presse</li>
                            <li>Confidentialité</li>
                            <li>Nous contacter</li>
                        </div>
                        <div class="column-2">
                            <li>Audiodescription</li>
                            <li>Relations Investisseurs</li>
                            <li>Informations légales</li>
                        </div>
                        <div class="column-3">
                            <li>Centre d'aide</li>
                            <li>Recrutement</li>
                            <li>Préférences de cookies</li>
                        </div>
                        <div class="column-4">
                            <li>Cartes cadeaux</li>
                            <li>Conditions d'utilisation</li>
                            <li>Mentions légales</li>
                        </div>
                    </ul>
                <button class="service-code">Code de service</button>
                <div class="copyright">© 1997-2020 Netflix, Inc.</div>      
            </div>
        </footer>
    <script src="home.js"></script>
    </body>
</html>