<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
       
        <title>Comptabilté garage</title>

         <!-- download core CSS -->
        <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    </head>

    <style>
        nav figure img{
            width: 10%;
            position: relative;
            top: 0%;
            left: 0%;

        } 
        nav {
            position: fixed;
            top: 0%;
            background-color: rgb(0, 0, 0);
            height: 8.5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;
        }
        .navigation-right ul {
            display: flex;
            color: white;
            height: 8.5%;
            list-style-type: none;
            justify-content: flex-end;
            flex-direction: row;
            margin-right: 10%;
        }
        .navigation-right {

            position: relative;
            top: 20%;
        }
        .navigation-left {
            display: flex;
            height: 8.5%;
            color: white;
            justify-content: flex-start;
            flex-direction: row;
            width: 50%;
            position: absolute;
            top: 20%;
            margin-left: 10%;
        }
        .navigation-left  li {
            margin-right: 5%;
        }
        #newslotwatch {
            width: 15em;
        }
        .navigation-right ul li {
            margin-right: 20%;
        }
        li {

            list-style-type: none;
        }
    </style>
    <body>
        <nav>
            
                <ul>
                    
                    <li>
                        <figure>
                            <img src="../../assets/img/logo_netflix.png">
                        </figure>
                    </li>
                    <span class="navigation-left">
                    <li>Accueil</li>
                    <li>Séries</li>
                    <li>Films</li>
                    <li id="newslotwatch">Nouveautés les plus regardées</li>
                    <li>Ma liste</li>
                    </span>
                </ul>
            
            <div class="navigation-right">
                <ul>
                    <li>
                        <span class="icon-search"></span>
                    </li>
                    <li>DIRECT</li>
                    <li>JEUNESSE</li>
                    <li><i class="fas fa-gift"></i></li>
                    <li><i class="far fa-bell"></i></li>
                    <li><i class="fas fa-caret-down"></i></li>
                </ul>
            </div>
        </nav>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur delectus expedita aliquid non eveniet id! Ratione id tempora accusantium cumque, hic, nesciunt debitis aspernatur, architecto placeat cupiditate iusto odio!
        Est modi laboriosam cupiditate earum voluptate molestiae a atque similique nemo ipsam. Eaque molestias quos soluta vitae eveniet enim et mollitia nesciunt veniam quaerat! Sed eum dolore sequi doloremque temporibus.
        Sed ab, ullam nulla iste sint vel facilis delectus repudiandae sapiente voluptatem similique deleniti consequuntur facere cupiditate iure corporis, exercitationem accusamus cumque laudantium molestias numquam. Culpa ab natus repudiandae ex!
        Deleniti odio suscipit dignissimos temporibus, dolore tempore animi quos, molestiae eveniet quia voluptatum qui similique iure pariatur autem provident illo! Sint, fugiat natus. Expedita, vel recusandae! Laudantium eos nobis a.
        Ea cupiditate alias dolorem cumque inventore pariatur eveniet, aspernatur excepturi laudantium commodi iste rerum blanditiis autem numquam doloremque magnam exercitationem quisquam neque dolore ad quia, assumenda quam? Ipsa, eaque enim.
        Quidem, repudiandae quaerat? Saepe, quo. Autem nihil sapiente nulla culpa iusto provident, laudantium deserunt natus quis. Hic quae nemo voluptas praesentium! Dolorem accusamus aut deleniti iusto accusantium adipisci, nihil obcaecati.
        Consequatur quam tenetur doloribus repudiandae quos, fugiat similique magni reiciendis velit perspiciatis quia maxime, totam ut saepe nihil expedita aliquam ducimus impedit dolor necessitatibus corporis eius ipsa exercitationem? Odit, mollitia?
        Magnam, unde delectus reprehenderit dolorum nostrum vel, quasi aut pariatur, dicta minus porro facilis odio cumque sit animi obcaecati inventore voluptatibus accusantium? Quibusdam incidunt minus nesciunt, voluptas consequuntur voluptates hic?
        Laboriosam dolor provident labore sit voluptatem animi fugit. Fugit odit, eum quas facere, laudantium laborum reiciendis libero repellat recusandae veniam tempore! Consequuntur, ipsa velit? Officia fugit odio excepturi. Quisquam, numquam.
        Cumque, et dignissimos aliquam itaque voluptas magnam magni architecto vitae modi accusamus libero est nam commodi esse officiis natus consectetur iusto nesciunt ipsa. Et provident labore pariatur! Laborum, labore quis?
        Quis dolorem commodi nihil quaerat sed molestiae iusto maxime, repellendus, assumenda quidem explicabo dolor quia neque cum laudantium nostrum ipsum tempora, ullam quisquam facilis non officiis! Sed et ut quasi.
        Voluptates, distinctio omnis quasi, impedit sit asperiores eius sunt fuga, error nulla itaque at deserunt? Aliquid recusandae adipisci ipsum unde, magnam ratione sint ea aliquam est harum quo, architecto qui.
        Fugit omnis est in placeat consequuntur aut, ipsa itaque, fugiat minima eos distinctio esse repellat, atque quam adipisci nostrum iste dicta vitae. Praesentium, suscipit nesciunt nobis eligendi explicabo illo officiis.
        Aut voluptates sapiente sit, eligendi doloremque fugit provident fuga distinctio animi cumque eum. Voluptatibus nihil eveniet esse dignissimos, aspernatur, eligendi harum, explicabo libero dicta alias delectus. Quam obcaecati animi nesciunt!
        Nesciunt odit dolorum aliquam sint voluptatum corporis voluptas facere et alias distinctio ipsum, eaque cum quaerat hic unde rerum in fugiat non repellat praesentium laudantium commodi aliquid! Error, quas. Deleniti.
        Minus, ducimus veniam reprehenderit id maxime repellat eligendi enim praesentium libero, fuga aliquam voluptatem. Asperiores, vel. Quod repellendus, aut nam nulla, minus sunt dolorem aperiam asperiores, cupiditate in odit laboriosam?
        Nostrum, nisi. Commodi, sunt sed! Soluta itaque voluptas id facilis quibusdam nobis vel repudiandae animi aut illo debitis nostrum cumque placeat, fugiat dolorem, accusantium obcaecati quidem doloribus adipisci harum odio.
        Exercitationem modi ipsam in consequatur ipsa blanditiis at aperiam suscipit id natus deserunt corrupti dicta enim non dolorum nemo necessitatibus nisi voluptatum, neque magni odit. Reiciendis commodi veritatis exercitationem consequuntur!
        Eaque vero maiores, rem dignissimos iste dolorem tempora aspernatur ullam culpa vel numquam consectetur reprehenderit doloribus accusantium aperiam repellat error placeat maxime hic porro nobis? Nihil provident pariatur ratione sunt?
        Ea, perspiciatis deserunt fugiat ad nostrum, dolores nulla voluptates quas aspernatur similique a, obcaecati reprehenderit fugit ipsum sequi autem iusto deleniti fuga neque? Dicta ipsa ex molestias molestiae debitis corrupti.
        Reprehenderit nesciunt optio non placeat, tenetur perferendis voluptatibus itaque aliquid facere ducimus labore. Ipsa magni quia reprehenderit repudiandae! Quia ad eaque doloribus modi explicabo numquam ducimus voluptatum est vero quasi!
        Architecto deleniti quas possimus illum numquam soluta eligendi et dolor omnis aliquam ab iste, sint quos vitae hic ducimus, facilis nobis molestiae tenetur dolorum nostrum laudantium. Illum at quod itaque.
        Optio debitis doloribus quis. Unde non eveniet alias nulla, asperiores sed nesciunt ipsam repellat quas atque doloremque harum earum cupiditate est totam aperiam. Earum eveniet aperiam totam atque facilis maxime?
        Magnam sint ut velit molestias blanditiis voluptatem excepturi eaque architecto repellat nisi deleniti ipsum sequi modi, dolor ratione doloribus. Nobis odio esse recusandae ut repellat facere quia aspernatur impedit fugit.
        Totam molestias, perspiciatis mollitia voluptate qui quaerat, eius voluptates eos magnam doloribus assumenda rerum consectetur sequi exercitationem nobis! Explicabo vel id a veniam, animi beatae natus! Nulla sit minus debitis!
        Itaque inventore quod voluptatibus nostrum non excepturi esse dignissimos temporibus amet asperiores? Maiores, reiciendis assumenda dolor, voluptatibus dolore provident eius minima ducimus magnam consequatur vitae nemo ullam fugit voluptatum omnis.
        Sed illum, aliquid, consequuntur quo quod facere optio eos veniam consequatur minima, magni voluptatibus. Illo, blanditiis. Cum totam est autem odit praesentium maiores facere architecto reiciendis! Consequuntur quo minima assumenda?
        Ea dolorem vitae reiciendis inventore, maiores maxime illum consequuntur reprehenderit non explicabo, quia error ex. Voluptas adipisci minus numquam ad dignissimos? Vitae necessitatibus error temporibus, minus dicta reprehenderit! Beatae, voluptates.
        Consequatur hic, enim, error neque quod ipsum recusandae incidunt debitis architecto aut sunt laudantium, officia illo sapiente modi temporibus voluptatibus consectetur similique voluptatem! Quidem autem, optio ducimus adipisci quis non!
        Ipsam tenetur hic nam natus fuga quo obcaecati incidunt eius! Aperiam temporibus possimus placeat rerum minima, perferendis labore voluptatem aliquid ullam nostrum quam reiciendis a voluptas inventore laborum aspernatur similique.
        Suscipit maxime delectus ipsum a cumque minima obcaecati culpa voluptatem sed quidem, consequuntur, voluptates architecto quisquam nam hic adipisci quos nesciunt atque alias dignissimos nihil ratione commodi officia ducimus? Odio?
        Minima, illum eligendi. Sequi, obcaecati! Vel nam corporis illo, voluptate incidunt atque cum quod praesentium velit repellendus placeat harum iusto dolores sed. Esse ea aspernatur hic culpa doloremque aut placeat!
        Harum doloribus, expedita repudiandae sapiente numquam illo perspiciatis natus blanditiis at placeat voluptate. In ad autem, error labore dignissimos quasi incidunt, nostrum aut ea explicabo rem maxime quas cupiditate quis.
        Ea dolore dolor harum quod dolorum itaque qui corporis cupiditate accusantium doloremque delectus aspernatur eum reprehenderit eveniet modi saepe quis sapiente a molestias ducimus, magnam odio, error facilis. Harum, odit.
        Quam praesentium corporis accusantium ea optio facere et dolores autem officia maiores! Tempore eum perspiciatis beatae vel dolore blanditiis tempora a quibusdam, vitae, esse officia sed voluptate accusamus. Deserunt, ipsum?
        Error eos cupiditate earum impedit voluptatum laborum facilis aspernatur provident iusto accusantium doloremque exercitationem accusamus fugit sint quidem ipsam, recusandae tenetur, aliquam minus incidunt! Labore non laborum totam eius accusantium?
        Facere sed voluptatem debitis, inventore, ducimus voluptatum temporibus illo consectetur deleniti id tenetur architecto natus saepe culpa! Iure debitis quisquam optio repudiandae, rem tempora ipsum mollitia dolor aliquam laborum dolore.
        At, vero repellat qui eum maxime suscipit possimus magnam sunt delectus beatae mollitia eos provident adipisci ut corrupti reprehenderit ab omnis quo, impedit eius enim esse quasi. Nobis, quibusdam fugiat?
        Aspernatur earum sunt qui eos culpa odit repudiandae natus eaque? Itaque sequi distinctio non cupiditate assumenda dolorem quis nobis nemo voluptates eum repellat doloribus, numquam voluptate porro aliquam asperiores neque!
        Quidem aspernatur voluptatibus, sit consequuntur excepturi architecto ratione, quod explicabo enim ipsa dolorem deserunt, alias non esse? Dolores, quaerat, magni voluptas, eveniet similique nesciunt optio assumenda corporis suscipit voluptatum ad.
        Natus animi, cum aperiam velit placeat voluptatem ducimus alias dignissimos soluta vero voluptates culpa maiores, ab perspiciatis, porro quis fugiat commodi. Impedit exercitationem, quos dignissimos officia veniam molestias facilis quia?
        Ipsam, inventore error eaque aspernatur quaerat eos id tempore, amet nobis in non aliquid! Maxime ratione fugit dolorum. Facere officiis fugiat rem in odit autem atque nemo consequuntur dolorem culpa!
        Quos porro saepe voluptatum assumenda quaerat corporis dolorem magni cumque laudantium quia optio natus earum a esse repellendus error modi, impedit provident cupiditate voluptatem? Eveniet dignissimos sint esse distinctio earum.
        Placeat, voluptatum possimus reiciendis voluptates facere labore commodi illum laborum nihil. Maxime, laudantium temporibus! Accusantium temporibus adipisci inventore? Placeat dolore totam aspernatur illo perspiciatis recusandae modi possimus quo. Numquam, accusantium.
        Nisi, doloribus temporibus quibusdam asperiores dolor nemo ipsum, iure voluptas quas a fugit culpa. Consequuntur molestias aut amet aspernatur id fugiat eligendi dolor nulla mollitia tempora, veritatis eveniet laborum commodi!
        Sit ullam ipsum distinctio ducimus enim veniam voluptas tempore reiciendis, beatae repellendus, sequi eius accusamus doloremque voluptates fugit commodi debitis? Ut earum praesentium asperiores maxime ducimus perspiciatis dicta aliquid beatae!
        Alias mollitia aliquam minima eveniet inventore eligendi, dolore tempora perferendis delectus facere, laboriosam amet assumenda distinctio repudiandae blanditiis reprehenderit ullam quia necessitatibus! Molestias, laboriosam quae. Quis error aliquid ut magni.
        Excepturi et fugit natus. Omnis minima vitae maiores deserunt incidunt odit sed esse a perspiciatis iusto qui sequi facilis laboriosam debitis commodi porro, magni tenetur eaque. Sunt natus suscipit praesentium.
        Ea corporis voluptatem obcaecati voluptatum ab nesciunt eos quod ducimus amet illo quibusdam officiis repellendus, assumenda vitae eligendi aspernatur doloribus accusamus neque velit itaque recusandae iusto! Dolorum quia alias architecto?
        Eius assumenda consectetur id reiciendis qui sequi debitis consequuntur eum pariatur provident quod odit sint numquam aperiam doloremque a ullam temporibus repellat veniam voluptates, nihil, sit vero libero. Quis, unde.
        Delectus repellendus ipsum qui accusantium odit numquam, vero soluta natus quos iusto fugit, libero aliquam molestiae expedita laboriosam! Sed ipsa doloremque laudantium maiores amet, at eligendi commodi eaque corporis obcaecati!
        Velit sunt ut praesentium odio esse eum non, eos hic porro dolor, eligendi recusandae alias quas? Atque magni eaque veritatis praesentium. Soluta minima, eligendi modi in eum ducimus exercitationem voluptate!
        Quia eveniet accusantium odio recusandae autem illo quis nihil eaque molestias non nulla facilis provident similique sit rerum libero dolorum maxime vero dicta, enim in consequatur veritatis, animi dignissimos? Possimus.
        Tempora numquam, consequatur deleniti iusto nisi at ratione alias atque aperiam facere dicta suscipit error possimus dolores molestias velit eaque perspiciatis doloribus provident, dolorem natus! Atque doloremque qui excepturi facere.
        Rem veniam sed nulla fugit, dolor laborum aperiam dignissimos autem quod, tenetur voluptas quos doloremque odit officiis illo? Necessitatibus, deleniti? Aspernatur corporis nostrum consequuntur recusandae atque blanditiis cum animi facere.
        Inventore eos temporibus reiciendis dicta culpa recusandae laboriosam voluptate rem veritatis qui odit tempora excepturi similique eum, voluptatibus earum ipsam consectetur molestiae aliquid quasi accusamus! Consectetur, temporibus dignissimos. Laborum, delectus?
        Amet omnis eveniet eaque earum ab! Ipsum cum dolorum voluptas provident accusantium iusto molestiae deserunt ab neque illum officiis assumenda, aut necessitatibus sed a reiciendis quisquam. Dicta, unde! Ipsam, fugiat!
        Corporis facilis enim saepe debitis voluptatum, vitae architecto quis deserunt qui, hic officia eaque non et beatae consectetur voluptatem deleniti natus reiciendis voluptate? Maiores minima inventore numquam repellendus? Eveniet, dolor?
        Asperiores perspiciatis totam ea. Officia iusto quod rerum eveniet veniam id obcaecati magni? Architecto sit sed blanditiis repellendus libero facere. Quas explicabo est quisquam vitae doloribus perferendis quibusdam excepturi eaque!
        Quisquam, veritatis ullam delectus maxime amet nemo sed repellat suscipit impedit labore rerum, eaque eius vitae. Nulla nostrum nemo nobis in consequuntur. Impedit esse earum magni, eius laboriosam quaerat tempore.
        Iure quos natus iusto necessitatibus et dolorum ducimus debitis animi, nisi quasi doloremque eaque, dolore sit vitae, consectetur harum quisquam at non. Doloribus, reprehenderit. Et quis ipsum incidunt atque iusto.
        Animi officia praesentium adipisci, sequi esse soluta quae, amet quod aut sint blanditiis quam? Doloribus quas harum inventore ratione doloremque architecto dolore reprehenderit explicabo, voluptatum quos iure suscipit! Optio, vel.
        Cum, autem unde maxime alias blanditiis exercitationem dolor impedit fugit esse et quibusdam doloremque debitis ex sit fugiat totam non cupiditate quae. Vel dolor placeat alias a porro nemo ullam!
        Architecto enim saepe quae voluptatem ipsam vel animi, maiores aliquam nihil dolor repudiandae ea modi mollitia eveniet voluptates. Culpa numquam molestias itaque ipsum necessitatibus quod esse enim quo tempore quos!
        Eaque modi placeat fuga sit doloremque natus, facere repudiandae. Aperiam harum voluptatem enim saepe ratione consectetur facilis aspernatur tempore mollitia, maxime ab nihil placeat error quisquam earum distinctio blanditiis eaque!
        Suscipit, provident earum. Sit in optio ea itaque dolor accusantium, ad recusandae, nam, sunt suscipit officia cumque deleniti modi voluptate sequi. Fugit commodi facilis possimus hic rem quod, repellendus sint.
        Ab atque, illum dolor possimus et reiciendis obcaecati expedita. Voluptate fuga placeat quis, consequuntur dolor, nam dolore corporis ad neque quia nemo quibusdam unde incidunt facere corrupti reprehenderit ipsam beatae!
        Fuga enim suscipit dolorem dolorum nihil esse aliquam, repudiandae ipsum. Modi blanditiis accusantium corporis deserunt nemo consequatur sapiente est unde, fugit, rerum veritatis, quaerat necessitatibus at reiciendis nobis esse tempora?
        Dolor culpa dolore qui nisi, minima aliquid incidunt illum, cumque iste voluptate asperiores inventore beatae, in quia minus quibusdam sint vero odit necessitatibus! Nam in magnam cumque culpa sequi excepturi!
        Fuga quos, accusamus autem sunt architecto aliquam laudantium, sapiente eius aspernatur nostrum praesentium quis voluptatem atque eos ratione repellat veniam? Architecto, enim vero. Ab possimus fuga eum dolorum, sapiente tenetur.
        Nulla voluptas ducimus autem quod, dicta saepe, modi nihil ipsum, amet nesciunt neque! Debitis tempora molestiae facere consequatur delectus, sunt, voluptates aspernatur quaerat molestias laborum ex consequuntur, dolorum unde nostrum.
        Voluptatem repudiandae ipsum maiores sed ut vero, a fugiat minus iure natus dignissimos itaque mollitia, blanditiis nesciunt ducimus odit in illo doloremque suscipit repellat vel iusto non reprehenderit dolor! Aperiam?
        Aliquam eaque quaerat quasi, eligendi non voluptas facilis, perferendis sed, dicta quas odit deleniti temporibus aperiam id placeat omnis et saepe enim rerum. Sapiente vero, libero alias culpa repellat esse.
        Maxime ipsum ducimus repudiandae fugit perspiciatis. Obcaecati porro dolores error aut neque esse aliquam. Omnis, in maxime corporis temporibus, atque quo minus voluptatum unde iure porro eos accusamus, modi at.
        Ipsam fuga illum commodi et aperiam officiis quibusdam, ipsa alias quo, corporis numquam ducimus temporibus ab labore nulla, mollitia molestiae laudantium sed porro enim animi itaque. Quasi vel doloribus iste.
        Minima illum esse officiis id hic omnis eligendi modi mollitia ea. Repellendus commodi ab veritatis inventore enim. Possimus labore repudiandae dolore, nihil numquam explicabo sint atque voluptas consequuntur nobis ea.
        Reiciendis, officia nesciunt minima quo minus voluptate, ut ab nihil hic dolorem molestiae deserunt, expedita possimus repudiandae laudantium modi quae dignissimos? Optio eveniet facere fuga tempora quos perferendis! Distinctio, suscipit.
        Voluptates quaerat repellat hic quo eius nesciunt, minima officiis, commodi vel maiores architecto non vitae obcaecati aut laudantium sapiente ipsum sint soluta odio accusantium similique iste. Placeat quae adipisci fugit.
        Molestias fugiat, est mollitia asperiores harum unde nostrum quia cumque quis aliquid? Eligendi nostrum illo fugiat enim quod dolorem nam voluptatum est odit. Autem nesciunt exercitationem facilis officiis repellat dolorum?
        Perspiciatis dignissimos quia ratione quibusdam, maxime deserunt tempore placeat rem possimus adipisci vel in ea quod harum corrupti fugiat praesentium, aliquam minus itaque dicta molestiae ducimus sequi! Labore, qui facilis?
        Ea id iusto necessitatibus, accusantium nihil rerum excepturi ullam culpa veritatis corporis, nulla aut perferendis neque nisi minus ipsam eveniet aperiam error placeat. Ad fugit modi recusandae sunt quam odio.
        Necessitatibus nemo perspiciatis, architecto quia voluptatibus ipsa. Ducimus ea dolorum earum, ipsa labore rem illum necessitatibus id illo voluptatem, voluptatum expedita molestiae dicta error ipsam repellendus! Quae aliquam eaque veritatis?
        Sunt asperiores tenetur, amet, numquam possimus modi accusamus veniam omnis recusandae voluptates maiores a et delectus! At voluptatibus delectus sunt culpa adipisci ullam nostrum in labore dolor, reprehenderit illo. Autem.
        Repellendus facere asperiores, laudantium provident necessitatibus enim a modi, est vero ut quidem quasi accusamus. Quae laudantium eveniet omnis ipsa, amet accusamus nam quaerat, consectetur tempore facilis, unde provident suscipit.
        Atque repellendus cupiditate dolor, tenetur itaque, voluptates numquam placeat aperiam saepe sunt voluptatem nesciunt? Eos omnis, ducimus asperiores, eius porro, dolor ipsa quo nobis optio similique debitis ipsum exercitationem veniam?
        Autem, totam dolorem blanditiis culpa cum voluptate voluptatibus, libero maiores magni quo repudiandae, sunt quae iusto. Ea laboriosam at pariatur nemo amet, vitae blanditiis eaque quam reprehenderit ducimus adipisci facilis.
        Dignissimos reprehenderit ad id incidunt pariatur, necessitatibus blanditiis ipsam provident quos veniam labore facere quae reiciendis in qui! Quia quidem dignissimos dolore laboriosam, rem eum repellendus quod explicabo asperiores doloribus.
        Similique soluta totam doloribus velit commodi iure repellendus quidem vel. Atque enim fuga hic aspernatur, perferendis ratione exercitationem voluptate accusamus unde error dolor consequuntur, alias porro quisquam perspiciatis illo odio?
        Itaque error vitae culpa, commodi modi excepturi corporis dolores quo dicta cum rerum repellat cupiditate provident architecto aspernatur quibusdam perferendis deleniti tempore delectus molestias sunt, fugiat quis esse illum! Delectus?
        Eius ad perspiciatis error fuga dignissimos quas nemo vel quod inventore esse, ab, rerum alias totam, hic sed temporibus incidunt. Ipsam quo quos distinctio corporis? Inventore doloremque libero repellat dignissimos!
        Porro minima tempora amet! Porro, velit delectus voluptas sunt sint ab sapiente laboriosam labore qui maxime. Vel rem eligendi voluptatem dolor expedita, eveniet magni. Iusto incidunt cum hic cupiditate eos.
        Impedit officiis, quae deserunt iusto saepe quibusdam veritatis nostrum laboriosam eligendi ab omnis! Nostrum enim officiis eveniet, reprehenderit, ipsam nisi cupiditate quod pariatur vero praesentium, iusto cumque fugit. Aliquid, repudiandae!
        Minima consequuntur asperiores hic nemo doloribus magni quibusdam aliquam harum, sed, ipsa aperiam mollitia commodi delectus. Nisi facilis non consequuntur deleniti accusamus perspiciatis tempora iste, accusantium maiores doloremque provident repellendus.
        Nam totam reprehenderit dolor quam ex repellendus molestias velit corporis tempore ea recusandae culpa atque quas impedit voluptatum ab earum, eius alias ipsum minus. Velit, doloribus? Velit doloribus molestias blanditiis.
        Quod, enim tempore. Obcaecati accusamus corporis debitis sapiente excepturi illum nesciunt molestias impedit voluptatem reiciendis et suscipit nemo, consequuntur qui minus vitae iusto iste. Quibusdam quaerat at molestias dolor enim?
        Tempora ex, nihil autem non ducimus quisquam exercitationem ullam! Porro exercitationem perspiciatis, qui non, quo, soluta quaerat dicta voluptas nemo perferendis fuga ab amet cupiditate ipsa sint eligendi minus ratione.
        Id libero tempora iure sapiente fuga pariatur delectus magnam recusandae voluptates illum reprehenderit, a ullam tenetur? Eos voluptates perferendis ratione quidem, sapiente assumenda, nostrum deleniti saepe similique id dolore qui?
        Repellendus quam odit ea nulla ducimus impedit suscipit accusantium molestias, corporis similique facilis velit molestiae id voluptate. Fugit quam velit repellendus eius cum qui delectus quis perspiciatis molestias. Eligendi, eveniet?
        Facere illum nam quos unde reiciendis, sint odit nobis ipsum nulla! Dignissimos, blanditiis, vero nihil animi laboriosam nobis sed assumenda cum quia labore earum officiis voluptates omnis accusantium ab? Inventore?
        Doloremque ex quas praesentium facere omnis officiis, ea optio odio repellat amet repellendus et non impedit illum. Dolor iure in ad perferendis quod nulla minus facere, a magnam accusamus aperiam?
    <script src="home.js"></script>
    </body>
</html>