/* footer */

.member-footer {
    background-color:  #141414;
    position: relative;
    bottom: 0%;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    color: gray;
}

ul {
    display: flex;
    flex-direction: row;
}

.reseaux, .copyright {
    padding-left: 5%;
}

footer li {
    list-style-type: none;
}

ul * {
    margin-right: 5%;
}

.service-code {
    margin-left: 5%;
    background-color: #141414;
    border: gray 1px solid;
    color: gray;
    margin-bottom: 3%;
    margin-top: 1%;
}